<%= form_for @item, html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :ISBN %><br />
    <%= f.text_field :ISBN %>
  </div>

  <div class="field">
    <%= f.label :item_type %><br />
    <%= f.select :item_type, Item.item_types.keys.map %>
  </div>

  <div class="field">
    <%= f.label :cover %><br />
    <%= f.file_field :cover %>
    <% if f.object.cover? %>
      <%= image_tag f.object.cover.thumb.url %>
      <%= f.label :remove_cover %>
      <%= f.check_box :remove_cover %> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>