<div>
  <%= link_to "Add item", new_item_path %>
</div>
<div>
  <table>
  	<thead>
      <td></td>
      <td>Name</td>
      <td>Author</td>
      <td>ISBN</td>
    </thead>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if item.cover? %>
            <%= image_tag item.cover.thumb.url %>
          <% end %>
        </td>
      	<td><%= link_to item.name, item_path(item) %></td>
      	<td><%= item.author %></td>
      	<td><%= item.ISBN %></td>
        <td><%= link_to "Edit item", edit_item_path(item) %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @items %>
</div>