<div>
  <p><%= link_to "Add item", new_item_path %></p>
  <p><%= link_to "Show all items", items_path %></p>
</div>
<div>
  <p>Name: <%= @item.name %></p>
  <p>Author: <%= @item.author %></p>
  <p>ISBN: <%= @item.ISBN %></p>
  <p>Item type: <%= @item.item_type %></p>
  <% if @item.cover? %>
    <p><%= image_tag @item.cover.thumb.url %></p>
    <p><%= link_to "Edit item", edit_item_path %></p>
    <!--# Shows cover itself-->
    <!--<p>Cover: <%#= image_tag @item.cover_url.to_s %></p>-->
  <% else %>
    <p>This item don't have a cover yet, but you can change it!</p>
    <p><%= link_to "Edit item", edit_item_path %></p>
  <% end %>  	  
</div>